<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <appSettings>
    <!--账号-->
    <add key="Account" value="090478"/>
    <!--期货公司号-->
    <add key="BrokerId" value="9999"/>
    <!--密码-->
    <add key="Password" value="Admin123"/>
    <!--交易服务器地址-->
    <add key="TraderFront" value="tcp://180.168.146.187:10000"/>
    <!--行情服务器地址-->
    <add key="MarketDataFront" value="tcp://180.168.146.187:10010"/>
    <!--策略配置文件-->
    <add key="ConfigFile" value="StrategyParameter.xml"/>

    <add key="MarketToLimit" value="true"/>
    <add key="CancelTick" value="5"/>
    <add key="NeedRestartQuote" value="false"/>

    <add key="PendingEndSeconds" value="300"/>
    <add key="EndingSeconds" value="30"/>
    <add key="QuoteLimitTick" value="5"/>
    <add key="RiskRate" value="0.9"/>
    <add key="IntervalSecond" value="15"/>
    
    <add key="OverTimeSec" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="HFTraderConnection" connectionString="Initial Catalog=tradedb;Data Source=172.30.10.125;Persist Security Info=True;User ID=chuxin;Password=chuxin;"/>
    <add name="TickConnection" connectionString="Initial Catalog=RecordDb;Data Source=127.0.0.1;Persist Security Info=True;User ID=sa;Password=Admin123;"/>
  </connectionStrings>

  <log4net>
    <logger name="logInfo">
      <level value="DEBUG"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <logger name="logError">
      <level value="DEBUG"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>

    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true"/>
      <param name="Encoding" value="utf-8"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <file type="log4net.Util.PatternString" value="./logs/trade_%date{yyyy-MM-dd-HH-mm-ss}_info.txt"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="50MB"/>
      <staticLogFileName value="true"/>
      <CountDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff} %p [%t] %m %n"/>
      </layout>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true"/>
      <param name="Encoding" value="utf-8"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <file type="log4net.Util.PatternString" value="./logs/trade_%date{yyyy-MM-dd-HH-mm-ss}_error.txt"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="50MB"/>
      <staticLogFileName value="true"/>
      <CountDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff} %p [%t] %m %n"/>
      </layout>
    </appender>
  </log4net>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
