<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradingMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TradingMaster.Properties.Settings>
            <setting name="ConfirmBeforeSendNewOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmBeforeCancelOrder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmForOrderSubmit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmForOrderTransact" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmForOrderCancel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideCancelButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CancelOrderByDoubleClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitLargeOrderHandCount" serializeAs="String">
                <value>False</value>
            </setting>
        </TradingMaster.Properties.Settings>
    </userSettings>
</configuration>